*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right, #000, rgb(32, 0, 92));
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
    transition: .5s ease;
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 100);
}
.span-2 {
    grid-column: span 2;
}

.output {
    grid-column: 1/ -1;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.1rem;
    font-weight: 100;
}

.output .current-operand {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-weight: normal;
}